/* GENERAL STYLES */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* HEADER */
#header
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    top:0;
}

#header__span
{
    white-space: nowrap;
}

/* TRANSLATION AREA */
#translateContainer
{
    height: 80vh;
}

/* FOOTER */
#footer
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    bottom:0;
}

#footer__span
{
    white-space: nowrap;
}

#footer__link
{
    color:white;
}

#footer__link:hover, #footer__link:active
{
    opacity:0.8;
}