/* GENERAL STYLES */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* HEADER */
#header
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    top:0;
}

#header__span
{
    white-space: nowrap;
}

/* TRANSLATION AREA */
#translateContainer
{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/* INPUT DIV */
#inputText
{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    border-radius: 30px;
}

/* OUTPUT DIV */
#outputText
{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    border-radius: 30px;
}

/* FOOTER */
#footer
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    bottom:0;
}

#footer__span
{
    white-space: nowrap;
}

#footer__link
{
    color:white;
}

#footer__link:hover, #footer__link:active
{
    opacity:0.8;
}

/* MEDIA QUERIES */

/* SMALL */
@media screen and (max-width:575px)
{
    #inputText,#outputText
    {
        height: 40%;
        width: 65%;
    }
}

@media screen and (min-width:576px)
{
    #inputText,#outputText
    {
        height: 40%;
        width: 65%;
    }
}

/* MEDIUM */
@media screen and (min-width:768px)
{
    #inputText,#outputText
    {
        height: 40%;
        width: 65%;
    }
}

/* LARGE */
@media screen and (min-width:992px)
{
    #inputText,#outputText
    {
        height: 40%;
        width: 55%;
        border-radius: 40px;
    }
}

@media screen and (min-width:1200px)
{
    #inputText,#outputText
    {
        height: 60%;
        width: 35%;
        border-radius: 40px;
    }
}
