/* GENERAL STYLES */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* BODY */
body{
    min-height: 100vh;
}

/* HEADER */
#header
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    top:0;
}

#header__span
{
    white-space: nowrap;
}

/* BUTTONS */
button{
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}

button:hover{
    opacity: 0.8;
}

#clearButton
{
    position: absolute;
    top:20%;
    left: 4%;
}

#translateButton
{
    position: absolute;
    top: 20%;
    right: 4%;
}

/* INPUT BOXES */
#inputLanguage,#outputLanguage{
    display: inline-block;
    height: 40px;
    width: 250px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px;
    font-size: 1rem;
}

#inputLanguage
{
    position: absolute;
    top: 20.8%;
    left: 28.5%;
}

#outputLanguage
{
    position: absolute;
    top: 20.8%;
    right: 28.5%;  
}

/* TRANSLATION AREA */
#translateContainer
{
    min-height: 80vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/* INPUT DIV */
#inputText
{
    border: 3px solid black;
    border-radius: 5px;
    resize: vertical;
    font-size: 1rem;
    padding: 1%;
}

/* OUTPUT DIV */
#outputText
{
    border: 3px solid black;
    border-radius: 5px;
    resize: vertical;
    font-size: 1rem;
    padding: 1%;
}

/* FOOTER */
#footer
{
    display: block;
    background-color: black;
    color:white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    position: sticky;
    bottom:0;
}

#footer__span
{
    white-space: nowrap;
}

#footer__link
{
    color:white;
}

#footer__link:hover, #footer__link:active
{
    opacity:0.8;
}